<?xml version="1.0"?>
<model>
  <name>iss_proxy</name>
  <version>0.1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>OrbInspect</name>
    <email>rugang@todo.todo</email>
  </author>
  <description>
    Simplified visual proxy for an external space station structure.
  </description>
</model>
